In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import os 
import numpy_financial as npf

In [2]:
# Importing CSV file and Converting to DataFrame
file= "/Users/amiraali/Desktop/Fintech/python-homework/PyBank/budget_data.csv"
budget_df= pd.read_csv(file)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
# Total Number of Months

Number_Months=len(budget_df["Date"])
Number_Months

86

In [4]:
# Total amount of Profit/Losses over the entire period
Profit_Loss=sum(budget_df["Profit/Losses"])
Profit_Loss

38382578

In [5]:
# Add another column and shift profit/losses values down one
budget_df["Difference"]=budget_df["Profit/Losses"].shift(1)

In [7]:
budget_df.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    867884.0
2  Mar-2010         322013    984655.0
3  Apr-2010         -69417    322013.0
4  May-2010         310503    -69417.0

In [8]:
# Add change column 
budget_df["Change"]=budget_df["Profit/Losses"]-budget_df["Difference"]
budget_df.head()

       Date  Profit/Losses  Difference    Change
0  Jan-2010         867884         NaN       NaN
1  Feb-2010         984655    867884.0  116771.0
2  Mar-2010         322013    984655.0 -662642.0
3  Apr-2010         -69417    322013.0 -391430.0
4  May-2010         310503    -69417.0  379920.0

In [9]:
# Filling "NaN" with 0
budget_df["Change"]=(budget_df).fillna(0)["Change"]
budget_df["Difference"]=(budget_df).fillna(0)["Difference"]
budget_df

        Date  Profit/Losses  Difference    Change
0   Jan-2010         867884         0.0       0.0
1   Feb-2010         984655    867884.0  116771.0
2   Mar-2010         322013    984655.0 -662642.0
3   Apr-2010         -69417    322013.0 -391430.0
4   May-2010         310503    -69417.0  379920.0
..       ...            ...         ...       ...
81  Oct-2016         102685    768450.0 -665765.0
82  Nov-2016         795914    102685.0  693229.0
83  Dec-2016          60988    795914.0 -734926.0
84  Jan-2017         138230     60988.0   77242.0
85  Feb-2017         671099    138230.0  532869.0

[86 rows x 4 columns]

In [54]:
# Average profit/losses over the period
total_change= (sum(budget_df["Change"]))/(Number_Months-1)
print (f" The average of the changes in Profit/Losses over the entire period is {total_change}.")

 The average of the changes in Profit/Losses over the entire period is -2315.1176470588234.

In [30]:
# Find the index reference of the max value
budget_max_index=budget_df["Change"].idxmax()
budget_max_index

25

In [44]:
# Find the max value
max_value=budget_df["Change"].max()
max_date= budget_df["Date"][25]
print (f" The greatest increase in profit was ${max_value} on {max_date}.")

 The greatest increase in profit was $1926159.0 on Feb-2012.

In [36]:
# Find the index reference of the min value
budget_min_index=budget_df["Change"].idxmin()
budget_min_index

44

In [46]:
# Find the min value
min_value=budget_df["Change"].min()
min_date= budget_df["Date"][44]
print (f" The greatest decrease in profits was ${min_value} on {min_date}.")

 The greatest decrease in profits was $-2196167.0 on Sep-2013.

In [62]:
# Print final analysis 
final_summary=(
f"Financial Analysis\n"
f"--------------------\n"
f" Total Months: {Number_Months}\n"
f" Total: ${Profit_Loss}\n"
f" Average Change: ${total_change:.2f}\n"
f" Greatest Increase in Profits: {max_date} {max_value}\n"
f" Greatest Decrease in Profits: {min_date} {min_value}\n"
)
print(final_summary)

Financial Analysis
--------------------
 Total Months: 86
 Total: $38382578
 Average Change: $-2315.12
 Greatest Increase in Profits: Feb-2012 1926159.0
 Greatest Decrease in Profits: Sep-2013 -2196167.0

In [65]:
# Save results as text file
file_to_save= os.path.join("final_summary.txt")
with open(file_to_save, "w") as text_file:
    text_file.write(final_summary)